.mt-11 {
  margin-top: 11px; }

.mb-13 {
  margin-bottom: 13px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-29 {
  margin-bottom: 29px; }

.mr-60 {
  margin-right: 60px; }

.mb-58 {
  margin-bottom: 58px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-10 {
  margin-left: 10px; }

.mb-89 {
  margin-bottom: 89px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

audio, video {
  max-width: 100%;
  height: auto; }

audio, canvas, iframe, video, img, svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11px auto 13px;
  width: 98%; }

.header__links, .header__images {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 750px) {
    .header__links, .header__images {
      flex-direction: column; }
      .header__links .header__images, .header__images .header__images {
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-between;
        width: 70%; } }

.navigation {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 22px 0;
  margin-bottom: 190px; }
  @media screen and (max-width: 768px) {
    .navigation {
      margin-bottom: 100px; } }

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .navigation__list {
      justify-content: center;
      flex-wrap: wrap;
      height: 80px; }
      .navigation__list li {
        padding: 10px 0; } }

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

@media screen and (max-width: 768px) {
  .heading__image {
    width: 70%; } }

.promo__button {
  background-color: transparent;
  border: 1px solid #E2B024;
  color: #ffffff;
  padding: 22px 48px;
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%; }
  .promo__button:hover {
    background-color: #e2b024;
    color: #1F1F1F; }
  @media screen and (max-width: 1169px) {
    .promo__button {
      width: 70%;
      margin-right: 0;
      margin-bottom: 10px; } }
  @media screen and (max-width: 480px) {
    .promo__button {
      width: 100%;
      margin-bottom: 10px; } }

.inputs__button {
  background-color: #e2b024;
  border: 1px solid #E2B024;
  color: #1F1F1F;
  padding: 8px 54px;
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px; }
  .inputs__button:hover {
    background-color: #d1a11c; }

.component__button {
  border: none;
  background-color: transparent;
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  border-bottom: 1px solid #FFFFFF; }
  .component__button:hover {
    color: #e2b024;
    border-bottom: 1px solid #E2B024; }

.component__button-prev {
  position: absolute;
  top: 46%;
  right: 95%;
  z-index: 3; }
  @media screen and (max-width: 650px) {
    .component__button-prev {
      top: 45%;
      right: 85%; } }
  @media screen and (max-width: 500px) {
    .component__button-prev {
      top: 43%;
      right: 84%; } }

.component__button-next {
  position: absolute;
  top: 46%;
  left: 96%;
  z-index: 3; }
  @media screen and (max-width: 650px) {
    .component__button-next {
      top: 45%;
      left: 85%; } }
  @media screen and (max-width: 500px) {
    .component__button-next {
      top: 43%;
      left: 84%; } }

.subscribe__button {
  background: #E2B024;
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #1F1F1F;
  padding: 18px; }

.promo {
  background: #18191A; }

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 267px;
  padding-bottom: 226px; }
  @media screen and (max-width: 1169px) {
    .promo__container {
      flex-direction: column;
      padding-top: 135px;
      padding-bottom: 110px; } }

.promo__description {
  max-width: 525px; }
  @media screen and (max-width: 550px) {
    .promo__description {
      max-width: 80%; } }

.promo__components {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  max-height: 480px;
  position: relative;
  margin-right: 25px; }
  @media screen and (max-width: 1169px) {
    .promo__components {
      margin-top: 200px;
      margin-right: 0; } }

.promo__component {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 650px) {
    .promo__component {
      max-width: 80%; } }

.promo__image {
  max-width: 100%;
  position: absolute;
  top: -25%;
  right: 28%;
  z-index: 1; }
  @media screen and (max-width: 650px) {
    .promo__image {
      max-width: 35%;
      top: -50%;
      right: 32%; } }

.store {
  padding: 167px 0; }
  @media screen and (max-width: 500px) {
    .store {
      padding: 100px 0; } }

.store__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.store__catalog {
  position: relative;
  margin-bottom: 89px; }
  .store__catalog::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    z-index: -9; }
  @media screen and (max-width: 500px) {
    .store__catalog {
      margin-bottom: 40px; } }

.store__products {
  width: 100%; }
  .store__products tbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media screen and (max-width: 881px) {
      .store__products tbody {
        justify-content: space-around;
        flex-direction: row; } }

.store__products-tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; }
  @media screen and (max-width: 880px) {
    .store__products-tr {
      width: 30%;
      justify-content: space-around;
      margin-bottom: 100px;
      flex-wrap: wrap; } }

.store__products-td {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 880px) {
    .store__products-td {
      margin-bottom: 30px; }
      .store__products-td:last-child {
        margin-bottom: 0; } }
  @media screen and (max-width: 500px) {
    .store__products-td {
      width: 80%; } }

.store__offer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e2b024;
  padding: 10px 15px; }

.store__image {
  padding: 0 25px; }
  @media screen and (max-width: 500px) {
    .store__image {
      padding: 0 5px; } }

.store__price {
  display: flex;
  justify-content: center;
  align-items: center; }

.review {
  padding-top: 170px;
  padding-bottom: 120px;
  background: url("/img/background.png") no-repeat center/cover; }

.review__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.review__avatar {
  margin-bottom: 30px; }

.review__name {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 175.3%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px; }

.review__text {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px; }

.review__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 155px;
  flex-direction: row; }
  .review__slider span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 10px; }
    .review__slider span:last-child {
      margin-right: 0; }
    .review__slider span:hover {
      color: #e2b024; }
    @media screen and (max-width: 800px) {
      .review__slider span {
        width: 15px;
        height: 15px; } }
    @media screen and (max-width: 480px) {
      .review__slider span {
        width: 10px;
        height: 10px; } }
  @media screen and (max-width: 480px) {
    .review__slider {
      margin-bottom: 70px; } }

.news {
  padding-top: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.news__offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }
  @media screen and (max-width: 480px) {
    .news__offers {
      padding: 0 10px; } }

.offer {
  margin-bottom: 30px;
  position: relative; }

.offer__text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 7%; }

.offer__title {
  font-family: Chocolate, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: lowercase; }
  @media screen and (max-width: 800px) {
    .offer__title {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .offer__title {
      font-size: 12px; } }

.offer__price {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  text-transform: lowercase; }
  @media screen and (max-width: 800px) {
    .offer__price {
      font-size: 20px;
      line-height: 28px; } }
  @media screen and (max-width: 480px) {
    .offer__price {
      font-size: 12px;
      line-height: 14px; } }

.offer__image {
  width: 95%; }

.event {
  max-width: 1170px;
  background: #18191A;
  display: flex;
  margin-bottom: 150px;
  position: relative; }

.events__image {
  margin-right: 30px; }
  @media screen and (max-width: 880px) {
    .events__image {
      display: none; } }

.events__text {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 880px) {
    .events__text {
      justify-content: center;
      align-items: center; } }

.events__title {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 63px 0 8px; }

.events__date {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 24px; }

.events__description {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 45px;
  width: 66%; }

.event__arrow-left {
  position: absolute;
  top: 50%;
  left: -10%; }
  @media screen and (max-width: 1420px) {
    .event__arrow-left {
      left: -8%; } }
  @media screen and (max-width: 1350px) {
    .event__arrow-left {
      left: 0; } }
  @media screen and (max-width: 1200px) {
    .event__arrow-left {
      left: 1%; } }
  @media screen and (max-width: 500px) {
    .event__arrow-left {
      top: 80%; } }
  @media screen and (max-width: 880px) {
    .event__arrow-left img {
      width: 80%; } }

.event__arrow-right {
  position: absolute;
  top: 50%;
  right: -10%; }
  @media screen and (max-width: 1420px) {
    .event__arrow-right {
      right: -8%; } }
  @media screen and (max-width: 1350px) {
    .event__arrow-right {
      right: 0; } }
  @media screen and (max-width: 1200px) {
    .event__arrow-right {
      right: 1%; } }
  @media screen and (max-width: 500px) {
    .event__arrow-right {
      top: 80%; } }
  @media screen and (max-width: 880px) {
    .event__arrow-right img {
      width: 80%; } }

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px; }

.footer__contacts {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .footer__contacts {
      flex-direction: column; } }

.contacts__about {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-right: 35px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .contacts__about {
      margin-bottom: 40px; } }

.contacts__feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start; }
  .contacts__feedback .feedback {
    margin-bottom: 18px; }
    .contacts__feedback .feedback:last-child {
      margin-bottom: 0; }

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px; }
  .feedback:last-child {
    margin-bottom: 60px; }

.feedback__image {
  max-width: 48px;
  margin-right: 27px; }

.network__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.network__image {
  max-width: 48px;
  margin-right: 56px; }
  @media screen and (max-width: 600px) {
    .network__image {
      margin-right: 28px; } }

.network__image-small {
  max-width: 24px;
  margin-right: 44px; }

.contacts__inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; }

.footer__subscribe {
  background: #18191A;
  display: flex;
  justify-content: center;
  align-items: center; }

.subscribe__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 63px;
  min-width: 570px; }
  .subscribe__container label {
    width: 100%; }
  @media screen and (max-width: 600px) {
    .subscribe__container {
      min-width: 300px;
      width: 100%; } }

.footer__links {
  margin-top: 133px; }

.links__container {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 836px) {
    .links__container {
      justify-content: space-around; } }
  @media screen and (max-width: 478px) {
    .links__container {
      justify-content: flex-start; } }

.links__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 50px; }
  .links__contacts:last-child {
    margin-right: 0; }

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 192px;
  margin-bottom: 44px; }
  .footer__copyright span {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6); }
  .footer__copyright p {
    font-family: Poppin, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF; }

.contacts__input {
  width: 100%;
  max-height: 64px;
  padding: 20px 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 29px;
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  z-index: 0; }

textarea {
  min-height: 133px;
  resize: none; }

.input__container {
  position: relative;
  width: 100%; }

.contacts__title {
  font-size: 20px;
  line-height: 36px;
  background: black;
  padding: 0 6px;
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 2; }

.subscribe__input {
  display: flex;
  background: #000000;
  padding: 23px 34px;
  width: 100%;
  color: #FFFFFF; }
  .subscribe__input::placeholder {
    font-family: Poppin,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: left; }

.header__link {
  color: #ffffff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px; }
  .header__link:hover {
    color: #e2b024; }
  @media screen and (max-width: 480px) {
    .header__link:first-child {
      width: 20%; } }

.navigation__link {
  color: #ffffff;
  font-family: "ChocolateBox", Arial, sans-serif;
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid transparent; }
  .navigation__link:hover {
    color: #e2b024;
    border-bottom: 1px solid #e2b024; }
  @media screen and (max-width: 480px) {
    .navigation__link {
      font-size: 12px;
      margin-bottom: 40px;
      margin-right: 10px; } }

.heading__link {
  color: #e2b024;
  font-family: "ChocolateBox", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 9px; }
  .heading__link:hover {
    color: #e2b024;
    text-decoration: underline; }

.store__link {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-right: 72px;
  color: #ffffff; }
  .store__link:last-child {
    margin-right: 0; }
  .store__link:hover {
    color: #e2b024;
    border-bottom: 1px;
    border-bottom: 1px solid #e2b024;
    z-index: 1; }
  @media screen and (max-width: 500px) {
    .store__link {
      font-size: 18px;
      margin-right: 36px; } }

.store__link-title {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: #ffffff; }
  .store__link-title:hover {
    color: #e2b024;
    border-bottom: 1px;
    border-bottom: 1px solid #e2b024; }

.events__link {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: #ffffff; }
  .events__link:hover {
    color: #e2b024;
    border-bottom: 1px;
    border-bottom: 1px solid #e2b024; }

.heading__pre-title {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px; }
  @media screen and (max-width: 400px) {
    .heading__pre-title {
      font-size: 18px;
      margin-bottom: 16px; } }

.heading__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ChocolateBox", Arial, sans-serif;
  font-weight: normal;
  font-size: 96px;
  line-height: 56px; }
  @media screen and (max-width: 880px) {
    .heading__title {
      font-size: 74px; } }
  @media screen and (max-width: 600px) {
    .heading__title {
      font-size: 48px; } }
  @media screen and (max-width: 400px) {
    .heading__title {
      font-size: 36px; } }

.heading__description {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 63%; }

.promo__new {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.35em;
  margin-bottom: 47px; }

.promo__title {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 43px;
  color: #E2B024;
  margin-bottom: 12px; }
  @media screen and (max-width: 480px) {
    .promo__title {
      font-size: 48px;
      margin-bottom: 40px; } }

.promo__subtitle {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 170%;
  margin-bottom: 52px; }
  @media screen and (max-width: 480px) {
    .promo__subtitle {
      font-size: 24px;
      margin-bottom: 40px; } }

.promo__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 64px; }

.store__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 28px;
  margin-bottom: 90px; }
  @media screen and (max-width: 768px) {
    .store__title {
      font-size: 48px; } }
  @media screen and (max-width: 480px) {
    .store__title {
      font-size: 24px;
      margin-bottom: 40px; } }

.store__text {
  color: #000000; }
  @media screen and (max-width: 480px) {
    .store__text {
      font-size: 12px; } }

.store__name {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 9px;
  text-align: center; }

.store__discount {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #E2B024;
  text-decoration: line-through;
  margin-right: 5px; }
  @media screen and (max-width: 480px) {
    .store__discount {
      font-size: 12px; } }

.store__price {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #E2B024; }
  @media screen and (max-width: 480px) {
    .store__price {
      font-size: 20px; } }

.contacts__text {
  max-width: 486px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 77px; }

.feedback__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  color: #FFFFFF; }

.subscribe__title {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 28px;
  color: #E2B024;
  margin: 57px 0 24px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .subscribe__title {
      font-size: 48px; } }
  @media screen and (max-width: 480px) {
    .subscribe__title {
      font-size: 36px; } }

.subscribe__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 70px;
  text-align: center; }

.links__title {
  font-family: "ChocolateBox", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  color: #E2B024;
  margin-bottom: 42px; }

.links__text {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 15px; }
  .links__text:last-child {
    margin-bottom: 0; }

html {
  line-height: 100%;
  font-size: 18px;
  color: #FFFFFF;
  height: 100%; }

@font-face {
  font-family: "ChocolateBox";
  src: url("../fonts/ChocolateBox.woff"); }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2");
  src: url("../fonts/Poppins-Regular.woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2");
  src: url("../fonts/Poppins-Light.woff");
  font-style: normal;
  font-weight: 300; }

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.header, .promo__container, .promo__container, .review__container, .news__container, .store__container, .footer__container, .links__container {
  max-width: 1170px;
  margin: 0 auto; }
