// тк мы к ним обращаемся везде ниже
@import "utils/vars";
@import "utils/reset";
@import "common";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  //@media screen and (max-width: $desktopWidth) {
	//	font-size: 16px;
  //}
  //@media screen and (max-width: $tableWidth) {
	//	font-size: 15px;
  //}
  //@media screen and (max-width: $phoneWidth) {
	//	font-size: 14px;
  //}
}

@font-face {
  font-family: "ChocolateBox";
  src: url("../fonts/ChocolateBox.woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2");
  src: url("../fonts/Poppins-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2");
  src: url("../fonts/Poppins-Light.woff");
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0;}

a {	text-decoration: none; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header, .promo__container, .promo__container, .review__container, .news__container, .store__container, .footer__container, .links__container {
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 20px 10px;
  //@media screen and (max-width: 980px) {
  //  max-width: 980px;
  //}
  //@media screen and (max-width: 768px) {
  //  max-width: 768px;
  //}
  //@media screen and (max-width: 480px) {
  //  max-width: 480px ;
  //}
  //@media screen and (max-width: 320px) {
  //  max-width: 320px ;
  //}
}
