// Font
$mainFont                : 'Poppin', Arial, sans-serif;
$titleFont               : 'Chocolate', Arial, sans-serif;

// Size
$mainFontColor           : #FFFFFF;
$smallFontSize           : 12px;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 100%;

$desktopWidth            : 1170px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #e2b024;

.mt-11 { margin-top: 11px }
.mb-13 {  margin-bottom: 13px }
.mb-32 {  margin-bottom: 32px }
.mb-24 {  margin-bottom: 24px }
.mb-35 {  margin-bottom: 35px }
.mb-29 {  margin-bottom: 29px }
.mr-60 { margin-right: 60px }
.mb-58 { margin-bottom: 58px }