.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.footer__contacts {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  @media screen and (max-width: $tableWidth ) {
    flex-direction: column;
  }
}

.contacts__about {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-right: 35px;
  width: 100%;
  @media screen and (max-width: $tableWidth ) {
    margin-bottom: 40px;
  }
}

.contacts__feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  .feedback {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  &:last-child { margin-bottom: 60px; }
}

.feedback__image {
  max-width: 48px;
  margin-right: 27px;
}

.network__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.network__image {
  max-width: 48px;
  margin-right: 56px;
  @media screen and (max-width: 600px) {
    margin-right: 28px;
  }
}

.network__image-small {
  max-width: 24px;
  margin-right: 44px;
}

.contacts__inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.footer__subscribe {
  background: #18191A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 63px;
  min-width: 570px;
  label {
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    min-width: 300px;
    width: 100%;
  }
}

.footer__links {
  margin-top: 133px;
}

.links__container {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 836px) {
    justify-content: space-around;
  }
  @media screen and (max-width: 478px) {
    justify-content: flex-start;
  }
}

.links__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 50px;
  &:last-child {
    margin-right: 0;}
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 192px;
  margin-bottom: 44px;
  span {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  p {
    font-family: Poppin, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
  }
}