.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11px auto 13px;
  width: 98%;
}

.header__links, .header__images {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    .header__images {
      margin-top: 10px;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
    }
  }
}

.navigation {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 22px 0;
  margin-bottom: 190px;
    @media screen and (max-width: $tableWidth) {
      margin-bottom: 100px;
    }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
    @media screen and (max-width: $tableWidth) {
      justify-content: center;
      flex-wrap: wrap;
      height: 80px;
      li {padding: 10px 0}
    }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading__image {
  @media screen and (max-width: $tableWidth) {
    width: 70%;
  }
}