.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 13px;
}

.header__links {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-bottom: 190px;
  padding: 22px 0;
}

.header__link {
  color: $default-color;
  font-family: $mainFont;
  font-size: 12px;
  line-height: 18px;
}

.navigation__link {
  color: $default-color;
  font-family: $titleFont;
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading__pre-title {
  font-family: $titleFont;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
}

.heading__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $titleFont;
  font-weight: normal;
  font-size: 96px;
  line-height: 56px;
}

.heading__description {
  font-family: $mainFont;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 63%;
}

.heading__link {
  color: $primary-color;
  font-family: $titleFont;
  font-weight: normal;
  font-size: 16px;
  line-height: 9px;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}