.review {
  padding-top: 170px;
  padding-bottom: 120px;
  background: url("/img/background.png") no-repeat center/cover;
}

.review__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review__avatar {
  margin-bottom: 30px;
}

.review__name {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 175.3%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.review__text {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.review__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 155px;
  flex-direction: row;
  span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 10px;
    &:last-child { margin-right: 0; }
    &:hover {
      color: $primary-color;
    }
    @media screen and (max-width: 800px) {
      width: 15px;
      height: 15px;
    }
    @media screen and (max-width: 480px) {
      width: 10px;
      height: 10px;
    }
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 70px;
  }
}

.news {
  padding-top: 183px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news__offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @media screen and (max-width: 480px) {
    padding: 0 10px;
  }
}

.offer {
  margin-bottom: 30px;
  position: relative;
}

.offer__text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 7%;
}

.offer__title {
  font-family: Chocolate, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: lowercase;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}
.offer__price {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  text-transform: lowercase;
  @media screen and (max-width: 800px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.offer__image {
  width: 95%;
}

// events

.event {
  max-width: $desktopWidth;
  background: #18191A;
  display: flex;
  margin-bottom: 150px;
  position: relative;
}

.events__image {
  margin-right: 30px;
    @media screen and (max-width: 880px) {
      display: none;
    }
}

.events__text {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 880px) {
    justify-content: center;
    align-items: center;
  }
}

.events__title {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 63px 0 8px
}
.events__date {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.events__description {
  font-family: Poppin, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 45px;
  width: 66%;
}

  .event__arrow-left {
    position: absolute;
    top: 50%;
    left: -10%;
    @media screen and (max-width: 1420px) {
      left: -8%;
    }
    @media screen and (max-width: 1350px) {
      left: 0;
    }
    @media screen and (max-width: 1200px) {
      left: 1%;
    }
    @media screen and (max-width: 500px) {
      top: 80%;
    }
    img {
      @media screen and (max-width: 880px) {
        width: 80%;
      }
    }
  }

  .event__arrow-right {
    position: absolute;
    top: 50%;
    right: -10%;
    @media screen and (max-width: 1420px) {
      right: -8%;
    }
    @media screen and (max-width: 1350px) {
      right: 0;
    }
    @media screen and (max-width: 1200px) {
      right: 1%;
    }
    @media screen and (max-width: 500px) {
      top: 80%;
    }
    img {
      @media screen and (max-width: 880px) {
        width: 80%;
      }
    }
  }


