// PROMO SECTION
.promo {
  background: #18191A;
}

.promo__container {
  overflow: hidden;
}

.promo__description-wrapper {
  width: 49%;
  height: 487px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (max-width: 1169px) {
    align-items: center;
    width: 80%;
    margin-bottom: 50px;
  }
}

.promo__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  @media screen and (max-width: 1169px) {
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    width: 85%;
  }
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 267px ;
  padding-bottom: 226px;
  @media screen and (max-width: 1169px) {
    flex-direction: column;
    padding-top: 135px ;
    padding-bottom: 110px;
  }
  @media screen and (max-width: 650px) {
    padding-bottom: 200px;
  }
}

.promo__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  @media screen and (max-width: 1169px) {
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
}

.component__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  //top: 47%;
  width: 107%;
}

  .swiper-slide-active {
    .promo__subtitle,  .promo__title, .promo__text {
      max-width: 525px;
    }
    @media screen and (max-width: 650px) {
      max-width: 500px;
    }
    @media screen and (max-width: 540px) {
      max-width: 400px;
    }
    @media screen and (max-width: 420px) {
      max-width: 300px;
    }
  }

.promo__components {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  max-height: 600px;
  width: 100%;
  margin-right: 25px;
  position: relative;
  @media screen and (max-width: 1169px) {
    margin-top: 200px;
    margin-right: 0;
  }
  @media screen and (max-width: 650px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 540px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 420px) {
    margin-top: 50px;
  }
  .swiper-wrapper {
    right: 40%;
  }
}

.promo__component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
}

.component__image {
  width: 100%;
  height: 130%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
}

// STORE SECTION

.store {
  padding: 167px 0;
  @media screen and (max-width: 500px) {
    padding: 100px 0;
  }
}

.store__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.store__catalog {
  position: relative;
  margin-bottom: 89px;
  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    z-index: -9;
  }
  @media screen and (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.store__products {
  width: 100%;
  tbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 881px) {
      justify-content: space-around;
      flex-direction: row;
    }
  }
}

.store__products-tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @media screen and (max-width: 880px) {
    width: 30%;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
}

.store__products-td {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 880px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;}
  }
  @media screen and (max-width: 500px) {
    width: 80%;
  }
}

.store__offer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  padding: 10px 15px;
}

.store__image {
  padding: 0 25px;
  @media screen and (max-width: 500px) {
    padding: 0 5px;
  }
}

.store__price {
  display: flex;
  justify-content: center;
  align-items: center;
}
